{% extends "base.html" %}

{% block title %}
Add Teacher | Student Management System
{% endblock %}

{% block header %}

{% include "teachers/admin-navbar.html" %}

{% endblock %}

{% block content %}

<div class="add-teacher">
    <form method="POST">
        <fieldset>
            <legend>Teacher Information</legend>
            <label for="teacher-name">Name</label>
            <input type="text" id="teacher-name" name="teacher-name" required>
            {% include "teachers/subjects.html" %}
            {% include "teachers/grades.html" %}
        </fieldset>
    </form>
</div>

{% endblock %}