{% extends "base.html" %}

{% block title %}
Add Teacher | Student Management System
{% endblock %}

{% block header %}

{% include "teachers/admin-navbar.html" %}

{% endblock %}

{% block content %}

<div class="add-teacher container">
    <form method="POST" class="form-container">
        <fieldset>
            <legend>Teacher Information</legend>
            <div class="form-group">
                <label for="teacher-name">Name</label>
                <input type="text" id="teacher-name" name="teacher-name" required>
            </div>
            <div class="form-group">
                {% include "teachers/subjects.html" %}
            </div>
            <div class="form-group">
                {% include "teachers/grades.html" %}
            </div>
            <button type="submit" class="success-btn">Add teacher</button>
        </fieldset>
    </form>
</div>

{% endblock %}