<nav class="teacher-admin-navbar navbar">
    <a href="{{url_for('teachers.view_all_teachers')}}" class="nav-link">View All Teachers</a>
    <a href="{{url_for('teachers.add_teacher')}}" class="nav-link">Add Teacher</a>
    <a href="{{url_for('teachers.search_teacher')}}" class="nav-link">Search Teacher</a>
    <a href="{{url_for('teachers.remove_teacher')}}" class="nav-link">Remove Teacher</a>
    <a href="{{url_for('teachers.update_teacher_details')}}" class="nav-link">Update Teacher Details</a>
    <a href="{{url_for('admin.admin_menu')}}" class="nav-link">Back to Admin Main Menu</a>
</nav>