{% extends "base.html" %}

{% block title %}
Confirmation Page | Student Management System
{% endblock %}

{% block content %}

<div class="center-page">
    <div class="confirm-delete center-content container">
        <fieldset>
            <legend>Confirm Deletion</legend>

            <p><strong>Name:</strong> {{teacher.name}}</p>
            <p><strong>ID:</strong> {{teacher.id}}</p>
            <br>
            <form method="POST" action="{{url_for(
    'teachers.confirm_delete',
    teacher_id = teacher.id)}}" class="form-container">
                <button type="submit" class="delete" name="action" value="submit">Delete Teacher</button>
                <button type="submit" class="cancel" name="action" value="cancel-btn">Cancel</button>
        </fieldset>
        </form>

    </div>
</div>

{% endblock %}