{% extends "base.html" %}

{% block title %}
Confirmation Page | Student Management System
{% endblock %}

{% block title %}

<div>
    <h2>Confirm Deletion</h2>

    <p><strong>Name:</strong> {{teacher.name}}</p>
    <p><strong>ID:</strong> {{teacher.id}}</p>
    <br>
    <form method="POST" action="{{url_for(
    'teachers.confirm_delete',
    id = teacher.id)}}">
        <button type="submit" class="submit-btn" name="action" value="submit">Delete Teacher</button>
        <button type="submit" class="cancel" name="action" value="cancel">Cancel</button>
    </form>

</div>

{% endblock %}