<label for="grades">Select Grades</label>
<div class="radio-group">
    <label for="1stYr">1st Year</label>
    <input type="checkbox" id="1stYr" name="grades" value="1st Year">
</div>
<div class="radio-group">
    <label for="2ndYr">2nd Year</label>
    <input type="checkbox" id="2ndYr" name="grades" value="2nd Year">
</div>
<div class="radio-group">
    <label for="3rdYr">3rd Year</label>
    <input type="checkbox" id="3rdYr" name="grades" value="3rd Year">
</div>
<div class="radio-group">
    <label for="4thYr">4th Year</label>
    <input type="checkbox" id="4thYr" name="grades" value="4th Year">
</div>