{% extends "base.html" %}

{% block title %}
Teacher | Student Management System
{% endblock %}

{% block header %}

{% include "teachers/admin-navbar.html" %}

{% endblock %}

{% block content %}

<div class="center-page">
    <div class="remove-teacher center-content container">
        <form method="POST" class="form-container">
            <label for="id">Enter Teacher ID:</label>
            <input type="text" id="id" name="id" required>
            <button type="submit" class="delete">Enter</button>
        </form>
    </div>
</div>

{% endblock %}