{% extends "base.html" %}

{% block title %}
Teacher-authentication | Student Management System
{% endblock %}

{% block content %}

<div class="center-page">
    <div class="authentication center-content container">
        {% if message %}
        <div class="msg">
            {{ message }}
        </div>
        {% endif %}

        <form method="POST" class="form-container">
            <label for="teacher-id">Enter your ID:</label><br>
            <input type="text" id="teacher-id" name="teacher-id" required><br>

            <label for="teacher-password">Enter your password :</label><br>
            <input type="password" id="teacher-password" name="teacher-password" required>

            <button type="submit">Login</button>
        </form>
    </div>
</div>

{% endblock %}