{% extends "base.html" %}

{% block title %}
Update Grades | Student Management System
{% endblock %}

{% block header %}

{% include "teachers/admin-navbar.html" %}

{% endblock %}

{% block content %}

<div class="center-page">
    <div class="update-grades container">
        <form method="POST" class="form-container">
            <fieldset>
                <legend>Update Information</legend>
                <div class="form-group">
                    <label for="id">Enter Teacher ID</label>
                    <input type="text" id="id" name="id" required>
                </div>
                <div class="form-group">
                    {% include "teachers/grades.html" %}
                </div>
                <button type="submit" class="success-btn">Submit</button>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}