{% extends "base.html" %}

{% block title %}
Update Subject | Student Management System
{% endblock %}

{% block header %}

{% include "teachers/admin-navbar.html" %}

{% endblock %}

{% block content %}

<div class="update-subject">
    <form method="POST">
        <label for="id">Enter Teacher ID:</label>
        <input type="text" id="id" name="id" required>
        {% include "teachers/subjects.html" %}
        <button type="submit" class="submit-btn">Submit</button>
    </form>
</div>

{% endblock %}