{% extends "base.html" %}

{% block title %}
Add Student | Student Management System
{% endblock %}

{% block header %}

{% include "students/admin-navbar.html" %}

{% endblock %}

{% block content %}

<div class="add-student">

    <form method="POST">
        <fieldset>
            <legend>Student Information</legend>

            <label for="student-name">Name</label>
            <input type="text" id="student-name" name="student-name" required>
            {% include "students/grade.html" %}
            {% include "students/branches.html" %}
        </fieldset>
        <!-- The user explicitly clicks this when they are completely finished -->
        <button type="submit" class="submit-btn">Add Student</button>
    </form>
</div>

{% endblock %}