<nav class="student-admin-navbar navbar">
    <a href="{{url_for('students.view_all_students')}}" class="nav-link">View All Students</a>
    <a href="{{url_for('students.add_student')}}" class="nav-link">Add Student</a>
    <a href="{{url_for('students.search_student')}}" class="nav-link">Search Student</a>
    <a href="{{url_for('students.remove_student')}}" class="nav-link">Remove Student</a>
    <a href="{{url_for('students.update_student_details')}}" class="nav-link">Update Student Details</a>
    <a href="{{url_for('admin.admin_menu')}}" class="nav-link">Back to Admin Main Menu</a>
</nav>