<label for="student-branch">Branch</label>
<select id="student-branch" name="student-branch" required>
    <option value="" disabled selected>Select Branch</option>
    <option value="Electrical">Electrical</option>
    <option value="Mechanical">Mechanical</option>
    <option value="CSE">CSE</option>
    <option value="AI/DS">AI/DS</option>
    <option value="Chemical">Chemical</option>
    <option value="Materials">Materials</option>
    <option value="Bioengineering">Bioengineering</option>
    <option value="ES">ES</option>
    <option value="Optics">Optics</option>
    <option value="Aeronautics">Aeronautics</option>
    <option value="Mathematics">Mathematics</option>
    <option value="Chemistry">Chemistry</option>
    <option value="Physics">Physics</option>
</select>