{% extends "base.html" %}

{% block title %}
Confirmation Page | Student Management System
{% endblock %}

{% block content %}

<div>
    <h2>Confirm Deletion</h2>

    <p><strong>Name:</strong> {{student.name}}</p>
    <p><strong>Roll Number:</strong> {{student.roll_number}}</p>
    <br>
    <form method="POST" action="{{url_for(
    'students.confirm_delete',
    roll_number = student.roll_number)}}">
        <button type="submit" class="submit-btn" name="action" value="submit">Delete Student</button>
        <button type="submit" class="cancel" name="action" value="cancel">Cancel</button>
    </form>

</div>

{% endblock %}