{% extends "base.html" %}

{% block title %}
Student | Student Management System
{% endblock %}

{% block header %}
{% include "students/admin-navbar.html" %}
{% endblock %}

{% block content %}

<div class="center-page">
    <div class="remove-student center-content container">
        <form method="POST" class="form-container">
            <label for="roll-number">Enter Student Roll Number:</label>
            <input type="text" id="roll-number" name="roll-number" required>
            <button type="submit" class="delete">Enter</button>
        </form>
    </div>
</div>

{% endblock %}