{% extends "base.html" %}

{% block header %}

{% if session.get("admin_name") %}
{% include "students/admin-navbar.html" %}
{% else %}
{% include "students/teacher-navbar.html" %}
{% endif %}

{% endblock %}

{% block content %}

<div class="center-page">
    <div class="search-student center-content container">
        <form method="POST" class="form-container">
            <label for="roll-number">Enter Student Roll Number:</label>
            <input type="text" id="roll-number" name="roll-number" required>
            <button type="submit" class="submit-btn">Search</button>
        </form>
    </div>
</div>

{% endblock %}