<nav class="student-admin-navbar navbar">
    <a href="{{url_for('students.view_all_students')}}"
        class="nav-link {% if request.endpoint == 'students.view_all_students' %}active{% endif %}">View All
        Students</a>
    <a href="{{url_for('students.search_student')}}"
        class="nav-link {% if request.endpoint == 'students.search_student' %}active{% endif %}">Search Student</a>
    <a href="{{url_for('teachers.teacher_logout')}}"
        class="nav-link {% if request.endpoint == 'teachers.teacher_logout' %}active{% endif %}">Logout</a>
</nav>