{% extends "base.html" %}

{% block title %}
Update Grade | Student Management System
{% endblock %}

{% block header %}
{% include "students/admin-navbar.html" %}
{% endblock %}

{% block content %}

<div class="update-grade">
    <form method="POST">
        <label for="roll-number">Enter Student Roll number</label>
        <input type="text" id="roll-number" name="roll-number">

        <label for="grade">Select Grade</label>
        <div class="radio-group">
            <label for="1stYr">1st Year</label>
            <input type="radio" id="1stYr" name="grade" value="1st Year" required>
        </div>
        <div class="radio-group">
            <label for="2ndYr">2nd Year</label>
            <input type="radio" id="2ndYr" name="grade" value="2nd Year" required>
        </div>
        <div class="radio-group">
            <label for="3rdYr">3rd Year</label>
            <input type="radio" id="3rdYr" name="grade" value="3rd Year" required>
        </div>
        <div class="radio-group">
            <label for="4thYr">4th Year</label>
            <input type="radio" id="4thYr" name="grade" value="4th Year" required>
        </div>

        <button type="submit" class="submit-btn">Submit</button>
    </form>
</div>

{% endblock %}