{% extends "base.html" %}

{% block title %}
Update Grade | Student Management System
{% endblock %}

{% block header %}
{% include "students/admin-navbar.html" %}
{% endblock %}

{% block content %}

<div class="update-grade">
    <form method="POST">
        <label for="roll-number">Enter Student Roll number</label>
        <input type="text" id="roll-number" name="roll-number" required>
        {% include "students/grade.html" %}
        <button type="submit" class="submit-btn">Submit</button>
    </form>
</div>

{% endblock %}