{% extends "base.html" %}

{% block title %}
{{student.name}} | Student Management System
{% endblock %}

{% block header %}

{% if session.get("admin_name") %}
{% include "students/admin-navbar.html" %}
{% else %}
{% include "students/teacher-navbar.html" %}
{% endif %}

{% endblock %}

{% block content %}

<div class="center-page">
    <div class="view-student center-content container">
        <table class="table-container">
            <caption>Student Details</caption>
            <tr>
                <th>Name</th>
                <td>{{ student.name }}</td>
            </tr>
            <tr>
                <th>Roll Number</th>
                <td>{{ student.roll_number }}</td>
            </tr>
            <tr>
                <th>Grade</th>
                <td>{{ student.grade }}</td>
            </tr>
            <tr>
                <th>Branch</th>
                <td>{{ student.branch }}</td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}