{% extends "base.html" %}

{% block title %}
Admin-authentication | Student Management System
{% endblock %}

{% block content %}

<div class="admin_authentication">
    {% if message %}
    <div class="msg">
        {{ message }}
    </div>
    {% endif %}

    <form method="POST">
        <label for="admin-name">Enter your name :</label><br>
        <input type="text" id="admin-name" name="admin-name" required><br>

        <label for="admin-password">Enter your password :</label><br>
        <input type="password" id="admin-password" name="admin-password" required>

        <button type="submit" class="submit-btn">Login</button>
    </form>
</div>

{% endblock %}