{% extends "base.html" %}

{% block body_class %}
home-body
{% endblock %}

{% block content %}

<div class="home-page">
    
    <div class="home-header">
        <div class="college-brand">
            <h1>XYZ</h1>
            <h1>College</h1>
        </div>
        <div class="divider"></div>
        <div class="app-title">
            <h1>Student</h1>
            <h1>Management System</h1>
        </div>
    </div>
    <div class="home-card container">
        <div class="college-logo"></div>
        <div class="login-section">
            <ul>
                <li><a href="{{url_for('login')}}" id="login" class="menu">Login</a></li>
            </ul>
        </div>
    </div>

</div>

{% endblock %}

{% block footer_class %}
home-footer
{% endblock %}